<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="responseModalLabel">Response</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmationDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmationDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationDeleteModalLabel">Delete Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-error" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmationEditModal" tabindex="-1" role="dialog" aria-labelledby="confirmationEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationEditModalLabel">Edit Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="usr">ID:</label>
          <input type="text" id='idProdModifyInput' [(ngModel)]="idProdModify" #idEdit class="form-control" required disabled/>
        </div>
        <div class="form-group">
          <label for="usr">Name:</label>
          <input type="text" id='nameProdModifyInput' [(ngModel)]="nameProdModify" #nameEdit class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="usr">Category:</label>
          <input type="text" id='categoryProdModifyInput' [(ngModel)]="categoryProdModify" #categoryEdit class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="usr">Price:</label>
          <input type="number" step="any" id='priceProdModifyInput' [(ngModel)]="priceProdModify" #priceEdit class="form-control" required/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="insOrMod.modify(idEdit.value, nameEdit.value, categoryEdit.value, priceEdit.value)">Edit</button>
        <button type="button" class="btn btn-error" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="insertProdModal" tabindex="-1" role="dialog" aria-labelledby="insertProdModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="insertProdModalModalLabel">Insert New Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="usr">ID:</label>
          <small class="errorSmall" id="errorSmallId">Already exist.</small>
          <input type="text" id='idProdInsertInput' [(ngModel)]="idProdInsert" #idInsert class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="usr">Name:</label>
          <input type="text" id='nameProdInsertInput' [(ngModel)]="nameProdInsert" #nameInsert class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="usr">Category:</label>
          <input type="text" id='categoryProdInsertInput' [(ngModel)]="categoryProdInsert" #categoryInsert class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="usr">Price:</label>
          <input type="number" step="any" id='priceProdInsertInput' [(ngModel)]="priceProdInsert" #priceInsert class="form-control" required/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="insOrMod.insert(idInsert.value, nameInsert.value, categoryInsert.value, priceInsert.value)">Add</button>
        <button type="button" class="btn btn-error" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>