<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" id='navbarMenuHeader'>
  <a class="navbar-brand" href="#">Client REST</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="javascript:window.location.reload(true)">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="searchById.searchAllProd()">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      Sopra Steria
    </span>
  </div>
  <i class="fa fa-plus-circle fa-3x pointer addBtn" (click)="displayInsertModal()"></i>
</nav>



