body {
    padding-top: 50px;
    position: sticky;
}
  
nav a {
padding-top: 20px;
padding-bottom: 20px;
font-size: 18px;
}

nav .navbar-toggle {
margin: 13px 15px 13px 0;
}

.navbar-brand {
font-size: 30px;
}

nav.navbar.shrink {
min-height: 35px;
}

nav.shrink a {
padding-top: 10px;
padding-bottom: 10px;
font-size: 15px;
}

nav.shrink .navbar-brand {
font-size: 25px;
}

nav.shrink .navbar-toggle {
padding: 4px 5px;
margin: 8px 15px 8px 0;
}

.sticky {
  position:fixed;
  top:0;
}

.addBtn {
position: absolute;
z-index: 9000;
left: 94%;
top: 156%;
color: #66b3ff;
}

.pointer:hover {
  cursor: pointer;
  color: #007bff;
}