<app-navbar></app-navbar>
<br />
<br />
<br />
<div style="text-align:center">
</div>
<div class="container">
    <div class="row">
        <div class="col" >
            <app-search></app-search>
        </div>
        <div class="col">
            <app-insert></app-insert>
        </div>
        <div class="col">
            <app-update></app-update>
        </div>
        <div class="col">
            <app-delete></app-delete>
        </div>
    </div>
</div>
<app-modals></app-modals>
<router-outlet></router-outlet>
<ng4-loading-spinner></ng4-loading-spinner>