<h2><button (click)="showHide = !showHide" class="btn btn-primary">Delete</button></h2>
<div *ngIf="!showHide">
        <div [hidden]="showHide">
                <form>
                        <div class="form-group">
                                <label for="usr">ID:</label>
                                <input type="number" id="idProdDeleteInput" [(ngModel)]="idProdDelete" [ngModelOptions]="{standalone: true}" class="form-control" required/>
                        </div>
                        <div>
                                <button class="btn btn-success"
                                (click)="searchById.delete(idProdDelete)">Delete</button>
                        </div>
                </form>
        </div>
</div>