h2 {
    color: #265426;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
input.error,
textarea.error {
  border-color: red !important;
}
input:required + label {
  color: red;
}