<h2><button (click)="showHide = !showHide" class="btn btn-primary">Update</button></h2>
<div *ngIf="!showHide">
  <div  [hidden]="showHide">
    <form>
      <div class="form-group">
        <label for="usr">ID:</label>
        <input type="number" id='idProdModifyInput' [(ngModel)]="idProdModify" [ngModelOptions]="{standalone: true}" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" id='nameProdModifyInput' [(ngModel)]="nameProdModify" [ngModelOptions]="{standalone: true}" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="usr">Category:</label>
        <input type="text" id='categoryProdModifyInput' [(ngModel)]="categoryProdModify" [ngModelOptions]="{standalone: true}" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="usr">Price:</label>
        <input type="number" id='priceProdModifyInput' [(ngModel)]="priceProdModify" [ngModelOptions]="{standalone: true}" class="form-control" required/>
      </div>
      <br>
      <div>
        <button class="btn btn-success"
              (click)="insOrMod.modify(idProdModify, nameProdModify, categoryProdModify, priceProdModify)">Update</button>
      </div>
    </form>
  </div>
</div>