<h2><button (click)="showHide = !showHide" class="btn btn-primary">Get</button></h2>
<div *ngIf="!showHide">
        <div [hidden]="showHide">
                <form>
                        <div class="form-group">
                                <label for="usr">ID:</label>
                                <input type="number" id="idProdSearchInput" [(ngModel)]="idProdSearch" [ngModelOptions]="{standalone: true}" class="form-control" required/>
                        </div>
                        <div>
                                <button class="btn btn-success"
                                (click)="searchById.search(idProdSearch)">Search</button>
                        </div>
                </form>
        </div>
</div>