<h2><button (click)="showHide = !showHide" class="btn btn-primary">Insert</button></h2>
<div *ngIf="!showHide">
  <div  [hidden]="showHide">
    <form>
      <div class="form-group">
        <label for="usr">ID:</label>
        <input type="number" id='idProdInsertInput' [(ngModel)]="idProdInsert" [ngModelOptions]="{standalone: true}" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" id='nameProdInsertInput' [(ngModel)]="nameProdInsert" [ngModelOptions]="{standalone: true}" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="usr">Category:</label>
        <input type="text" id='categoryProdInsertInput' [(ngModel)]="categoryProdInsert" [ngModelOptions]="{standalone: true}" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="usr">Price:</label>
        <input type="number" id='priceProdInsertInput' [(ngModel)]="priceProdInsert" [ngModelOptions]="{standalone: true}" class="form-control" required/>
      </div>
      <br>
      <div>
        <button class="btn btn-success"
              (click)="insOrMod.insert(idProdInsert, nameProdInsert, categoryProdInsert, priceProdInsert)">Insert</button>
      </div>
    </form>
  </div>
</div>